#divInformations{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: #e0e6ef;
    border-radius: 14px;
    color: #0d2339;
    font-size: 18px;
    margin: 10px 0;
    margin-right: 5px;
    padding: 10px 0;
}


#lblCoor{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#divCenteredInfos{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
}

.classDivCoord{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.classDivCoord > img {
    width : 10%;
    height: auto;
    margin-right: 10px;
}

.classDivCoord > label{
    font-size: larger;
    word-break: break-all;
}