.places-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
}

.map-container {
  width: 60%;
  height:50vh;
  margin: 0 auto;
  display: block;
}
@media screen and (max-width : 650px)  {
  .map-container{
    width: 90%;
    height:50vh;
    margin: 0 auto;
    display: block;
  }
}
.combobox-input {
  width: 100%;
  padding: 0.5rem;
}