#lblInfos{
  display: flex;
  justify-content: center;
  font-size: 6vw;
  padding-top: 15px;
  font-weight: bold;
}

#anchorInfos{
  top : -50px;
}

.anchorHidden {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

#divInfosDevis{
display: flex;
justify-content: flex-start;
}

@media screen and (max-width: 650px){
  #InfosDevis{
      display: block;
  }
}
body{
  background-color: rgb(255, 255, 255);
  font-family: ui-sans-serif;
}