.navbar {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

#lblInfos {
  display: flex;
  justify-content: center;
  font-size: 6vw;
  font-weight: bold;
}

#infosDevisID {
  display: flex;
  justify-content: flex-start;
}
